node_modules/
.next/
dist/
coverage/
*.log
.env
.env.local

# folders for local development
product/
workspace/

.playwright-mcp
*/node_modules/*
*.tsbuildinfo
*.cache/
*/dist/*
*/coverage/*
*/.bin/*
*/.next/*
*/.cache/*
*/.tsbuildinfo/*
*/.env*
